<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>op.gg</title>
</head>
<body>
	<h1><%= @id %>님의 전적은</h1>
	<p><%= @win %>승 <%= @lose %>패</p>
	<p><%= @tier%>티어 입니다.</p>
	<p>롤 접으세요</p>
</body>
</html>